* {
    margin: 0;
    padding: 0;
}

body{
    display: flex;
    justify-content: center;
    background-color: rgb(44, 42, 42);
}
.container {
    display: flex;
    width: clamp(800px, 90vw, 1500px);
    /* width: max(800px, 80vw);  */
    height: 100vh;
    background-color: gray;
    display: flex;
    align-items: center;
    justify-content: center;
}

.imageContainer {
    width: 30vw;
    height: 100vh;
}
.imageContainer img {
    /* width: 100%; */
    height: 100%;
    overflow: hidden;
}
.logo{
    background-color: black;
    opacity: 0.4;
    height: 150px;
    position: absolute;
    width: 30vw;
    top: 20vh;
}

.textContainer{
    width: 70vw;    
    height: 100vh;
    background-color: rgb(248, 248, 243);
}
.text{
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-left: 10%;
    padding-right: 15%;
}
.textStyle{
    font-weight: 800;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
}

.italic{
    font-style: italic;
}

